.undone{
	width: 600px;
	background-color: rgb(64,64,64);
	color: rgb(196,196,196);
	margin: 10px auto;
	padding: 20px;
}

.done {
	width: 600px;
	background-color: rgb(32,32,32);
	color: rgb(64,64,64);
	margin: 10px auto;
	padding: 20px;

}
