.undone{
	width: 600px;
	background-color: rgb(24,24,24);
	color: rgb(128,128,128);
	margin: 10px auto;
	padding: 20px;
}

.done {
	width: 600px;
	background-color: rgb(8,8,8);
	color: rgb(32,32,32);
	margin: 10px auto;
	padding: 20px;

}
